// generals
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import "~@fontsource/catamaran/400.css";
@import "~@fontsource/vidaloka/400.css";
@import "../style/variables.scss";

// body
body {
    font-family:"Catamaran", sans-serif;
    font-size: 14px;
    background-color: $backgroundColor;
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-family:"Catamaran", sans-serif;
        font-size: 21px;
        font-weight: bold;
        text-transform: uppercase;
    }
    h4 {
        font-family:"Catamaran", sans-serif;
        line-height: 30px;
        font-size: 17px;
        color: $second-txt-color;
        &:hover {
            transition: 0.5s;
        }
    }
    h5 {
        font-family:"Catamaran", sans-serif;
        font-size: 15px;
        color: #67615A;
    }
    h6 {
        font-family:"Catamaran", sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
            transition: 0.5s;
            color: white;
        }
    }
    a {
        text-decoration: none;
        color: black;
        transition: 0.4s;
        &:hover {
            color: $third-txt-color;
        }
    }
    button {
        padding: 5px 15px;
        border: 0px;
        font-family:"Catamaran", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background-color: $third-txt-color;
        transition: 0.4s;
        &:hover {
            background-color: $hover-botton-color;
        }
    }
}